# 1Nome da acao
name: Build and deploy of EventApi
#2 gatilho para acao
on:
  push:
    branches: [main]
#3 O que a acao vai fazer
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure Java
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution:  'temurin'

      - name: Build with Maven
        run: mvn clean install -DskipTests

      - name: Run tests
        run: mvn test